
body{
  background-color: darkblue
}

#body-grid{
  grid-template-columns: 40px 50px auto 50px 40px;
  grid-template-rows: 25% 100px auto;
}


.light-container{
 grid-column: 1/6;
 grid-rows: 1;
}

.flash{
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  box-shadow: -1px -1px 10px 10px white;
  display: none;
}
